Repository bebetoalves/so-edf: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run type-check', eslint, prettier --write

add project files
  index.html
  package.json
  postcss.config.js
  src/App.vue
  src/assets/ufc.png
  src/components/Alerts/DangerAlert.vue
  src/components/Alerts/SuccessAlert.vue
  src/components/Charts/TimelineChart.vue
  src/edf/index.ts
  src/main.css
  src/main.ts
  src/math/index.ts
  src/types/index.ts
  tailwind.config.js
  yarn.lock
Due: bash -c 'npm run type-check', eslint, prettier --write

refactoring code
  .eslintrc.json
  README.md
  index.html
  src/App.vue
  src/assets/logo.png
  src/components/Alerts/DangerAlert.vue
  src/components/Alerts/SuccessAlert.vue
  src/components/Charts/TimelineChart.vue
  src/edf/index.ts
  tailwind.config.js
Due: bash -c 'npm run type-check', eslint, prettier --write

Create README.md
  README.md
Due: none

remove timeline length
  src/edf/index.ts
  src/types/index.ts
Due: eslint, prettier --write

refactor arrived tasks
  src/edf/index.ts
Due: eslint, prettier --write

Path conditions:
  bash -c 'npm run type-check': any of: *.vue
  eslint: any of: *.{ts,tsx,vue}
  prettier --write: any of: *.{ts,tsx,vue}
